<h1> <%= @task.title %></h1>
<p><%= @task.details %></p>
<% if(@task.completed) %>
  <input type="checkbox" name="completed" checked />
  <label for="completed">This task is completed</label>
<% else %>
  <input type="checkbox" name="completed" />
  <label for="completed">This task is not completed</label>
<% end %>
<br>
<%= link_to "Back to list", tasks_path %>
